* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

body {
  --brand-green: #00856f;
  --brand-green-ligth: #dce9e2;
  --brand-green-ligth-02: #f7f9f9;
  --brand-beige: #fffaf1;
  --brand-green-hover: #00453a;
  --gray-headline: #212529;
  --gray-paragraph: #495057;
  --white: #ededed;

  background-color: var(--brand-green-ligth);
  max-width: 1366px;
  margin: auto;
  height: 1000px;
}

header {
  color: var(--brand-green);
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  position: sticky;
  top: 0;
  transition: background-color 0.7s ease-in-out;
  width: 80%;
  margin: auto;
  z-index: 1;
  padding: 0 20px;
}

header.scrolled {
  background-color: var(--brand-green);
}

header.scrolled nav li a,
header.scrolled .title {
  color: var(--white);
}

header.scrolled nav li:hover {
  border-bottom-color: var(--white);
}

header.scrolled button {
  color: var(--white);
  background-color: var(--brand-green);
  border-color: var(--white);
}

header.scrolled button:hover {
  background-color: var(--white);
  color: var(--brand-green);
}

header .title {
  width: 132px;
  height: 17px;
}

header .title:hover {
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
}

nav li {
  list-style: none;
  font-weight: 400;
  line-height: 72px;
  transition: color 0.7s ease-in-out;
}

nav li:hover {
  cursor: pointer;
  font-weight: 700;
  border-bottom: 2px solid var(--brand-green);
}

nav li a {
  color: var(--brand-green);
  text-decoration: none;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header-btn button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 24px;
  border-radius: 40px;
  border: 1px solid var(--brand-green);
  color: var(--brand-green);
  background-color: var(--brand-green-ligth);
}

.header-btn button:hover {
  cursor: pointer;
  background-color: var(--brand-green);
  color: var(--white);
}

/* hero section */

.hero {
  display: flex;
  justify-content: center;
  max-height: 606px;
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 80px;
}

.hero-text {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 80px 0;
}

.hero-picture {
  width: 46%;
}

.hero-picture img {
  width: 100%;
  height: 100%;
}

.hero .welcome {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 1px;
  color: var(--brand-green);
}

.hero .title {
  font-size: 52px;
  font-weight: 700;
  line-height: 67px;
  color: var(--gray-headline);
}

.description {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray-paragraph);
}

.schedule-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 32px;
  border: none;
  border-radius: 40px;
  background-color: var(--brand-green);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}

.schedule-btn:hover {
  background-color: var(--brand-green-hover);
}

.schedule-btn img {
  margin-right: 16px;
}

.records {
  position: absolute;
  bottom: -103px;
  background-color: var(--brand-beige);
  width: 100%;
  height: 210px;
  border: 1px solid var(--brand-green-ligth);
  border-radius: 6px;
  padding: 0 7%;
  text-align: center;
}

.hero .records {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.records .number {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: var(--gray-headline);
}

.records .text {
  line-height: 24px;
  color: var(--brand-green);
}

.box-divider {
  width: 2px;
  height: 80px;
  background-color: var(--brand-green);
}
